@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/Images/tech-x.ico" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="http://www.cssscript.com/demo/pretty-checkbox-radio-inputs-with-bootstrap-and-awesome-bootstrap-checkbox-css/build.css">
    <link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link href="http://cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/build/css/bootstrap-datetimepicker.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/Content/all.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/loading-bar.css" />

    <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>
    <script src="http://cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/src/js/bootstrap-datetimepicker.js"></script>

    @*@Scripts.Render(BundleConfig.JsModernizrBundle)

        @Scripts.Render(BundleConfig.JsJqueryValidationBundle)
        @Scripts.Render(BundleConfig.JsBootstrapBundle)*@
    @*@Scripts.Render(BundleConfig.JsJqueryBundle)*@
    @Scripts.Render(BundleConfig.JsAngularBundle)
    @Scripts.Render(BundleConfig.JsAngularAssetsBundle)
</head>
<body ng-app="dCodeApp">
    <div class="col-sm-10 col-md-10 main no-padding-left-right" ng-controller="IndexController">
        <div class="right-body-top col-sm-12 background-color-fff no-padding-left-right">
            <div class="main-header">
                <div class="col-sm-6 col-md-8 no-padding-left-right">
                    <div class="margin-50 col-md-12 logo-parent">
                        <div class="col-md-12 no-padding">
                            <img src="~/Content/Images/tech-x-logo.png" height="150px" width="260px" class="pull-left logo">
                        </div>
                    </div>
                </div>
                <div class="col-sm-1 col-md-1"></div>
                <div class="col-sm-2 col-md-2">
                    <img src="~/Content/Images/settings.png" width="20px" height="20px" class="margin-50 setting-icon pull-right hidden">
                </div>
            </div>
        </div>
        <div>
            @*<table>
                <tr>
                    <td>Select User Profile for Login</td>
                    <td>
                        <select ng-options="item for item in loginOptions" ng-model="userMockOption.login" ng-change="setUserContext()"></select>
                    </td>
                </tr>
            </table>*@
            <table>
                <tr>
                    <td>FirstName</td>
                    <td>
                        <input type="text" class="form-control" ng-model="user.FirstName">
                    </td>
                </tr>
                <tr>
                    <td>LastName</td>
                    <td>
                        <input type="text" class="form-control" ng-model="user.LastName">
                    </td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>
                        <input type="text" class="form-control" ng-model="user.Email">
                    </td>
                </tr>
                @*<tr>
                    <td>Manager Email - Req only for Contributor</td>
                    <td>
                        <input type="text" class="form-control" ng-model="user.ManagerEmailId">
                    </td>
                </tr>*@
                <tr>
                    <td>Select User Profile for Login</td>
                    <td>
                        <select ng-options="item for item in loginOptions" ng-model="userMockOption.login" ng-change="setUserContext()"></select>
                    </td>
                </tr>
                <tr>
                    <td><input type="button" value="Set User" ng-click="SetUserContext()" /> </td>
                    <td></td>
                </tr>

            </table>
        </div>
    </div>
</body>
</html>
