@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Profile</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/Images/tech-x.ico" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="http://www.cssscript.com/demo/pretty-checkbox-radio-inputs-with-bootstrap-and-awesome-bootstrap-checkbox-css/build.css">
    <link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link href="http://cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/build/css/bootstrap-datetimepicker.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/Content/all.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/loading-bar.css" />
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.8.0/angular-material.min.css">

    <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>
    <script src="http://cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/src/js/bootstrap-datetimepicker.js"></script>
    @Scripts.Render(BundleConfig.JsAngularBundle)
    @Scripts.Render(BundleConfig.JsAngularAssetsBundle)
    <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.4/hammer.js"></script>

    <!-- Angular Material Dependencies -->
    @*<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-animate.js"></script>*@
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-aria.js"></script>

</head>
<body ng-app="dCodeApp" class="profileController" ng-controller="ProfileController">
    <div class="new-style-sai-profile-border">&nbsp;</div>
    <div class="new-style-sai-profile-center">
        <div class="profile-logo">
            <img src="~/Content/Images/tech-x-logo.png" class="new-style-sai-layout-logo-image logo">
        </div>
        <div class="skill_tag">
            <div @*class="new-style-sai-renderbody-inner"*@ style="height:75vh;padding-left:20px;">
                <div class="new-style-sai-profile-main-inner-body" style="padding-right:20px;padding-bottom:20px;">
                    <div class="background-color-fff">
                        <div class="fst-login" ng-show="isFirstTimeLogin">
                            <h3 class="dark-grey-blue font-size-24">Welcome aboard!</h3>
                            <p class="myDescription margin-bottom-25">To start we’d like you fill in a few important details. <br />Complete your profile and help us cater your feed accordingly.</p>
                            <div>
                                <hr style="background:darkgray;" />
                            </div>
                        </div>
                        <div id="profilePage" ng-show="!isFirstTimeLogin">
                            <div>
                                <div class="background-color-34495e" style="min-height:140px;" @*style="padding-bottom:1px;padding-top:1px;"*@>
                                    <div class="fontSize24 color-dee1e2 welcome-txt" style="margin-top:20px;">Welcome Back!</div>
                                    @*<div>abc</div>*@
                                    <div style="text-align:center;">
                                        <div class="new-style-sai-div-middle-33">&nbsp;</div>
                                        <div class="new-style-sai-div-33 new-style-sai-padding-left-profile-shortName">
                                            <div class="left-nav-circle-img background-95a5a6 color-ecf0f1">{{userContext.ShortName}}</div>
                                        </div>
                                        <div class="new-style-sai-div-middle-33">&nbsp;</div>

                                    </div>
                                    
                                </div>
                            </div>

                        </div>

                        <div class="background-color-fff Recommended-number font-size-20">
                            <form name="form" target="profileSubmit" class="background-color-fff">
                                <div>
                                    <div class="skill-box margin-bottom-40 margin-top-40 new-style-sai-profile-columns">
                                        <div class="heading bold">
                                            Name
                                            <span class="requiredField">*</span>
                                        </div>
                                        <div class="value"> {{userContext.Name}}</div>
                                    </div>
                                    <div class="skill-box margin-bottom-40 margin-top-40 new-style-sai-profile-columns">
                                        <div class="heading bold">
                                            Position
                                            <span class="requiredField">*</span>
                                        </div>
                                        <div class="value"> {{userContext.Designation}}</div>
                                    </div>
                                </div>
                                <div style="clear:both;"></div>
                                <div>
                                    <div class="skill-box margin-bottom-40 margin-top-40 new-style-sai-profile-columns">
                                        <div class="heading bold">
                                            Work Extension
                                            <span class="requiredField">*</span>
                                        </div>
                                        <div class="value">{{userContext.TelephoneNumber}}</div>
                                    </div>
                                    <div class="skill-box margin-bottom-40 margin-top-40 new-style-sai-profile-columns">
                                        <div class="heading bold">
                                            Email ID
                                            <span class="requiredField">*</span>
                                        </div>
                                        <div class="value">{{userContext.EmailId}}</div>
                                    </div>
                                </div>
                                <div style="clear:both;"></div>
                                <div>
                                    <div class="skill-box margin-bottom-40 margin-top-40 new-style-sai-profile-columns">
                                        <div class="heading bold">
                                            Service Line
                                            <span class="requiredField">*</span>
                                        </div>
                                        <div class="value">{{userContext.Department}}</div>
                                    </div>
                                    <div class="skill-box margin-bottom-40 margin-top-40 new-style-sai-profile-columns">
                                        <div class="heading bold"> Mobile </div>
                                        <div class="value">{{userContext.MobileNumber}}</div>
                                    </div>
                                </div>
                                <div style="clear:both;"></div>
                                <hr style="background:darkgray;" />
                                <div style="float:right;padding-right:10px;">
                                    <span class="glyphicon glyphicon-pencil" ng-show="!isFirstTimeLogin" ng-click="changeToEditMode()"></span>

                                </div>
                                @*<div>
                                        <div class="background-color-fff">
                                            <div class="skill-box margin-bottom-20 margin-top-40 new-style-sai-profile-columns">
                                                <div class="heading bold new-style-sai-inner-headings">
                                                    <span class="glyphicon glyphicon-pencil edit-skill-icon" ng-click="changeToEditMode()"></span>
                                                </div>
                                                <div class="new-style-sai-inner-inputs">
                                                    <input type="email" ng-show="isEditMode" name="managerEmail" class="form-control" ng-pattern="/^[a-z0-9!#$%&'*+/=?^_`{|}~.-]+@("@")deloitte\.com$/i" placeholder="xxxxx@deloitte.com" ng-model="profile.ManagerEmailId" required>
                                                    <span class="help-inline" ng-show="submitted && form.managerEmail.$error.required">Required</span>
                                                    <span class="help-inline" ng-show="submitted && form.managerEmail.$error.pattern">Invalid email</span>
                                                    <div class="value" ng-show="!isEditMode"> {{profile.ManagerEmailId}}</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="skill-box margin-bottom-40 new-style-sai-profile-columns">&nbsp;</div>
                                    </div>*@
                                <div style="clear:both;"></div>

                                @*<div>
                                        <div class="background-color-fff">
                                            <div class="skill-box margin-bottom-20 margin-top-40 new-style-sai-profile-columns">
                                                <div class="heading bold new-style-sai-inner-headings">
                                                    Project Manager Email ID
                                                    <span class="requiredField">*</span>
                                                </div>
                                                <div class="new-style-sai-inner-inputs">
                                                    <input type="email" ng-show="isEditMode" name="managerEmail" class="form-control" ng-pattern="/^[a-z0-9!#$%&'*+/=?^_`{|}~.-]+@("@")deloitte\.com$/i" placeholder="xxxxx@deloitte.com" ng-model="profile.ManagerEmailId" required>
                                                    <span class="help-inline" ng-show="submitted && form.managerEmail.$error.required">Required</span>
                                                    <span class="help-inline" ng-show="submitted && form.managerEmail.$error.pattern">Invalid email</span>
                                                    <div class="value" ng-show="!isEditMode"> {{profile.ManagerEmailId}}</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="skill-box margin-bottom-40 new-style-sai-profile-columns">&nbsp;</div>
                                    </div>
                                    <div style="clear:both;"></div>*@
                                <div>
                                    <div class="background-color-fff">
                                        <div class="skill-box margin-bottom-40 margin-top-20 new-style-sai-profile-columns">
                                            <div class="heading bold new-style-sai-inner-headings">
                                                Skill Set
                                                <span class="requiredField">*</span>
                                                @*<span ng-show="isEditMode" class="addSkilBut" data-toggle="modal" data-target="#myModal" ng-click="resetSkillValues()"><span class="glyphicon glyphicon-plus"></span>Skill</span>*@
                                            </div>
                                            <div class="form-group datepicker">
                                                <div style="width:87%;padding-left:10px;" class="input-group search-wbs-code skill-set" id="taskSkill">
                                                    <div class="new-style-sai-search"
                                                         style="position: absolute;width: 96%;max-height: 200px;background: white;overflow-y: auto;z-index: 999 !important;">

                                                        <angucomplete-alt id="ex1"
                                                                          placeholder="Search skill"
                                                                          pause="100"
                                                                          selected-object="selectedSkill"
                                                                          remote-url="/Common/SearchSkill?searchParam="
                                                                          title-field="Value"
                                                                          description-field="email"
                                                                          minlength="1"
                                                                          input-class="form-control form-control-small" ng-disabled="test.isEditMode" />
                                                    </div>



                                                </div>
                                                <div class="new-style-sai-search-button" style="float:right;padding-right:50px;">
                                                    <button class="btn btn-default no-border-left" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                                                </div>
                                                <span class="error col-md-6 col-md-offset-2 no-padding">Please add a skill</span>
                                            </div>
                                            @*<div >
                                                    <div class="new-style-sai-inner-search">
                                                        <angucomplete-alt id="ex1"
                                                                          placeholder="Search for Skill Set"
                                                                          pause="100"
                                                                          selected-object="selectedSkill"
                                                                          remote-url="/Common/SearchSkill?searchParam="
                                                                          title-field="Value"
                                                                          description-field="email"
                                                                          minlength="1"
                                                                          clear-selected="true"
                                                                          input-class="form-control form-control-small" ng-disabled="isEditMode==true" />
                                                    </div>
                                                    <div style="float:left">
                                                        <button class="btn btn-default no-border-left" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                                                    </div>
                                                </div>*@
                                        </div>
                                    </div>
                                    <div class="new-style-sai-profile-columns" style="min-height:0px; max-height:150px;overflow-y:auto;padding-top:10px;">
                                        <div @*class="skill-box edit margin-top-bottom-20"*@>
                                            <span class="skill-item" name="skills" ng-repeat="skill in skillSet">
                                                <span>{{skill.Value}}</span><span ng-show="isEditMode" class="glyphicon glyphicon-remove" ng-click="removeSkill($index)"></span>
                                                <span class="help-inline" ng-show="submitted && form.skills.$error.required">Required</span>

                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div style="clear:both;"></div>
                                <div style="padding-bottom:30px;">
                                    <div>
                                        <div class="new-style-sai-create-btn-side">&nbsp;</div>
                                        <div class="new-style-sai-create-new-task-btn new-style-sai-create-btn-center" ng-show="!isFirstTimeLogin && !isEditMode" onclick="window.history.back();">Back</div>
                                        <input type="submit" class="new-style-sai-create-new-task-btn new-style-sai-create-btn-center" value="Submit" ng-click="updateProfile()" ng-show="isEditMode" />
                                        <div class="new-style-sai-create-btn-side-bottom">&nbsp;</div>

                                    </div>
                                </div>
                                @*<div class="background-color-fff" style="height:120px;">
                                        <div class="background-color-fff">

                                            <div>
                                                <div class="new-style-sai-create-btn-side">&nbsp;</div>
                                                <div class="new-style-sai-create-new-task-btn new-style-sai-create-btn-center" ng-show="!isFirstTimeLogin && !isEditMode" onclick="window.history.back();">Back</div>
                                                <input type="submit" class="new-style-sai-create-new-task-btn new-style-sai-create-btn-center" value="Submit" ng-click="updateProfile()" ng-show="isEditMode" />
                                                <div class="new-style-sai-create-btn-side-bottom">&nbsp;</div>

                                            </div>
                                        </div>
                                        <div class="skill-box margin-bottom-40 new-style-sai-profile-columns">&nbsp;</div>
                                    </div>*@
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

<div id="alertModel" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content addSkillDialog  col-md-12">
            <div class="modal-body col-md-12">
                <h2>Sorry, you skipped some inputs.</h2>
                <p>Choose the process that you would like to proceed with.</p>
                <div class="edit-task-btn pull-left margin-right-40 col-md-offset-2 submit-but margin-top-20">CONTIUE AS CONTRIBUTOR</div>
                <div class="edit-task-btn pull-left margin-right-40 submit-but margin-top-20 margin-bottom-25">CONTIUE AS REQUESTOR</div>
            </div>
        </div>
    </div>
</div>