
<div id="alertModel" class="modal fade col-md-12" role="dialog" ng-show="showPopup.isVisible">
    <div class="modal-dialog col-md-12">
        <div class="modal-content addSkillDialog  col-md-12">
            <div class="modal-body col-md-12">
                <h2>Sorry, you skipped some inputs.</h2>
                <p>Choose the process that you would like to proceed with.</p>
                <div class="edit-task-btn pull-left margin-right-40 col-md-offset-2 submit-but margin-top-20" ng-click="cancel()">CONTIUE AS CONTRIBUTOR</div>
                <div class="edit-task-btn pull-left margin-right-40 submit-but margin-top-20 margin-bottom-25" ng-click="submit()">CONTIUE AS REQUESTOR</div>
            </div>
        </div>
    </div>
</div>