@model DCode.Web.Models.ErrorModule

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Error</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/Images/tech-x.ico" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/all.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/loading-bar.css" />
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.8.0/angular-material.min.css">

    <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

</head>
<body class="allow_scroll profileController">
    <div class="new-style-DTM-profile-border">&nbsp;</div>
    <div class="new-style-DTM-profile-center">
        <div class="profile-logo">
            <img src="~/Content/Images/tech-x-circle-logo.png" class="new-style-DTM-layout-logo-image logo" style="height: 160px; width: 160px; margin-bottom: -20px;">
        </div>
        <div class="skill_tag">
            <div style="height:38vh;padding:20px;">
                <div>&nbsp;</div>
                <div class="background-color-fff" style="padding:20px;">
                    <h3 class="dark-grey-blue font-size-24 text-danger">Error</h3>
                    <p class="myDescription margin-bottom-25">@Model.Message</p>
                </div>
                @*<div class="new-style-DTM-profile-main-inner-body" style="padding-right:20px;padding-bottom:20px;">
                    <div class="background-color-fff">
                        <div class="fst-login" >
                            <div style="padding-top:10px;padding-bottom:10px;">
                                <h3 class="dark-grey-blue font-size-24 text-danger">Error</h3>
                                <p class="myDescription margin-bottom-25">@Model.Message</p>
                            </div>
                        </div>
                    </div>
                </div>*@

            </div>

        </div>


    </div>
    @*<div class="col-sm-10 col-md-10 col-md-offset-1 main no-padding-left-right">
            <div class="right-body-top background-color-fff no-padding-left-right">
                <div class="no-margin-left profile-logo">
                    <img src="~/Content/Images/tech-x-circle-logo.png" height="150px" width="260px" class="logo">
                </div>
            </div>
            <div class="col-md-12 no-padding-left-right skill_tag">
                <div class="col-md-8 col-md-offset-2 background-color-fff margin-top-25 fst-login">
                    <h3 class="dark-grey-blue font-size-24 text-danger">Error</h3>
                    <p class="myDescription margin-bottom-25">@Model.Message</p>
                </div>
            </div>
        </div>*@
</body>
</html>