<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="DCodeWebConString" providerName="MySql.Data.MySqlClient" connectionString="Server=localhost;Database=dcode;Uid=root;Pwd=root;" />
    <add name="Elmah.MySql" providerName="System.Data.MySqlClient" connectionString="Server=localhost;Database=dcode;Uid=root;Pwd=root;" />
  </connectionStrings>
  <appSettings>
    <add key="BaseUrl" value="http://10.118.18.142/" />
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>