<div ng-show="dashboard.showApproval">
    <div id="taskAppReq" class="new-style-DTM-main-inner-body" style="padding:20px;">

        <div class="success-banner" ng-show="AssignedDivModel.Visible">
            <h3 class="dark-grey-blue font-size-24"><span class="title-new">{{AssignedDivModel.AssigneeName}} has been assigned {{AssignedDivModel.AssignedTask}} for {{AssignedDivModel.AssignedHours}} starting {{AssignedDivModel.StartingDate}}</span></h3>
        </div>
        <div class="background-color-ecf0f1" infinite-scroll='getApplicants()' infinite-scroll-distance='0' infinite-scroll-container="'#taskAppReq'">
            <div class="project-details" ng-repeat="taskApplicant in taskApplicants track by $index">
                <div style="padding:20px;">
                    <div ng-hide="taskApplicant.Task.Status == 'Assigned'">
                        <div style="width:100%;">
                            <div style="float:left;">
                                <div class="heading" style="color: #8e44ad;">{{taskApplicant.Task.ProjectName}}</div>
                                <div class="gray-text">{{taskApplicant.Task.Duration}}</div>
                            </div>
                            <div style="float:right">
                                <div class="circle-txt-60">{{taskApplicant.Task.ShortName}}</div>
                            </div>
                        </div>
                        <div style="clear:both;"></div>
                        <div style="width:100%;text-align:left;" class="heading">
                            <div class="new-style-DTM-tracking-main">
                                <span class="skill-icon"><img src="/Content/Images/skill@2x.png" /></span>
                                <span class="role-desc dark-grey-blue">{{taskApplicant.Task.Skills}}</span>
                                <div class="gray-text">Required skills</div>
                            </div>
                            <div class="new-style-DTM-tracking-main">
                                <span class="hours-icon"><img src="/Content/Images/hours@2x.png" /></span>
                                <span class="role-desc dark-grey-blue">{{taskApplicant.Task.Hours}} hours</span>
                                <div class="gray-text">Billable hours</div>
                            </div>
                            <div class="new-style-DTM-tracking-main">
                                <span class="cal-icon"><img src="/Content/Images/calendar@2x.png" /></span>
                                <span class="role-desc dark-grey-blue">{{taskApplicant.Task.OnBoardingDate}}</span>
                                <div class="gray-text">Start Date</div>
                            </div>
                            <div class="new-style-DTM-tracking-main">
                                <span class="gift-icon"><img src="/Content/Images/serviceLine.png" /></span>
                                <span class="role-desc dark-grey-blue">{{taskApplicant.Task.ServiceLine}}</span>
                                <div class="gray-text">Service Line</div>
                            </div>

                        </div>
                        <div style="clear:both;"></div>
                        <div style="width:100%;padding-top:30px;">
                            <div style="width:65%;float:left;">
                                <p class="project-desc"><b>Task Description : </b>{{taskApplicant.Task.Details}}</p>
                            </div>
                            <div style="width:35%;float:right;">
                                <div id="responseDiv_$index" class="new-style-DTM-response-txt" ng-click="showStatusResponse($index);">
                                    {{taskApplicant.Applicants.length}} Response<span ng-show="taskApplicant.Applicants.length > 1 || taskApplicant.Applicants.length == 0">s</span>
                                    <span ng-switch="isShowing($index)" ng-show="taskApplicant.Applicants.length > 0">
                                        <span ng-switch-when=false>
                                            <img src="/Content/Images/downward@2x.png" width="8px" height="8px" />
                                        </span>
                                        <span ng-switch-when=true>
                                            <img src="/Content/Images/upward@2x.png" width="8px" height="8px" />
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div style="clear:both;"></div>
                        <div style="width:100%;padding-top:20px;" ng-show="applicant.StatementOfPurpose!=null && applicant.StatementOfPurpose.length>0">
                            <p class="project-desc"> <b>Statement of Purpose:</b> {{applicant.StatementOfPurpose}}</p>
                        </div>
                    </div>
                    <div style="clear:both;"></div>
                    <div ng-show="isShowing($index)">
                        <div style="width:100%;text-align:center;padding-top:5px;padding-bottom:5px;" ng-repeat="applicant in taskApplicant.Applicants" ng-hide="taskApplicant.Task.Status == 'Assigned'">
                            <div>
                                <div class="new-style-DTM-20-div">
                                    <div style="float:left;">
                                        <div class="circle-txt-60">{{applicant.ShortName}}</div>
                                    </div>
                                    <div>
                                        <div class="font-size-20 color-8e44ad">{{applicant.Name}}</div>
                                        <div class="gray-text">{{applicant.Designation}}</div>
                                    </div>
                                </div>

                                <div class="new-style-DTM-20-div" style="padding-right:20px;">
                                    <div style="min-height:50px;overflow-y:auto;">
                                        <div class="font-size-14">{{applicant.Expertise}}</div>
                                        <div class="gray-text">Skills</div>
                                    </div>
                                </div>
                                <div class="new-style-DTM-20-div">
                                    <div style="width:50%;text-align:right;">
                                        <div class="add-task-button-DTM-disabled" ng-show="taskApplicant.Task.Status == 'Assigned'">Assign</div>
                                        <div class="add-task-button-sai" ng-hide="taskApplicant.Task.Status == 'Assigned'" ng-click="assignTaskToApplicant(taskApplicant.Task , applicant, $index,taskApplicant.TaskApplicantId)">ASSIGN</div>
                                    </div>
                                </div>
                            </div>
                           <div style="clear:both;"></div>
                            @*<div>
                                &nbsp;
                            </div>*@
                            <div style="width:100%;text-align:left;padding-top:5px;" ng-show="applicant.StatementOfPurpose!=null && applicant.StatementOfPurpose.length>0">
                                <p class="project-desc"> <b>Statement of Purpose:</b> {{applicant.StatementOfPurpose}}</p>
                            </div>
                            <div>
                                <hr style="background:gray;"/>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div>
                    <hr style="background:darkgray;" />
                </div>
            </div>
            <div class="new-style-DTM-visibility">
                &nbsp;
            </div>
            <div ng-show="taskApplicants.length == 0" style="padding-top:20px;">
                <div class="new-style-DTM-new-task-background">
                    <div>
                        <div class="dark-grey-blue font-size-24">Want to create more tasks?</div>
                    </div>
                    <div> &nbsp;</div>
                    <div>
                        <div class="new-style-DTM-create-btn-side">&nbsp;</div>
                        <div class="new-style-DTM-create-new-task-btn new-style-DTM-create-btn-center" ng-click="NavigateToNewTask()">CREATE NEW TASK</div>
                        <div class="new-style-DTM-create-btn-side-bottom">&nbsp;</div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>