
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main no-padding-left-right" ng-controller="requestorController">
    <div style="background:white;width:100%;height:50px;">
        <div class="new-style-DTM-dashboard-menu">
            <div class="top-menu">
                <ul class="nav">
                    <li class="link active new-style-DTM-dashboard-menu-items" id="approval">
                        <a ng-click="controlTabsMyTasks('approval')" class="dark-grey-blue-16">APPLICATIONS<span class="alert-icon" ng-show="applicantsCount > 0">{{applicantsCount}}</span></a>
                    </li>
                    <li class="link new-style-DTM-dashboard-menu-items" id="trackStatus">
                        <a ng-click="controlTabsMyTasks('taskstatus')" class="dark-grey-blue-16">TRACK STATUS<span class="alert-icon" ng-show="taskStatusesGlobal.length > 0">{{taskStatusesGlobal.length}}</span></a>
                    </li>
                    <li class="link new-style-DTM-dashboard-menu-items" id="permissions">
                        <a ng-click="controlTabsMyTasks('history')" class="dark-grey-blue-16">TRACK HISTORY</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="new-style-DTM-dashboard-menu-search" ng-hide="dashboard.showHistory">
            <div class="form-group no-margin">
                <div class="input-group search-by-project">
                    <input type="text" class="form-control" placeholder="Search by Project Name" ng-model="searchBox.text" ng-change="filterTaskApplicants();">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div style="clear:both;"></div>
    <div style="width:100%;">
        <div class="new-style-DTM-renderbody-inner">
            @{Html.RenderPartial("_RequestorTaskApplications");}
            @{Html.RenderPartial("_RequestorTaskHistory");}
            @{Html.RenderPartial("_RequestorTaskStatus");}
        </div>
    </div>
</div>

