@{
    ViewBag.Title = "New Tasks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .new-task .task-inner-parent {
        padding: 15px;
    }
</style>

<div class="main" ng-controller="newTaskController">

    <div style="padding-left:20px;background:white;">
        <div class="top-menu">
            <div class="active dark-grey-blue-16" style="width:125px;">ADD NEW TASK</div>
        </div>
    </div>
    <div style="clear:both;"></div>
    <div class="new-style-DTM-renderbody-inner">
        <div class="new-style-DTM-main-inner-body">
            <div style="padding:20px;" ng-show="divVisibiltyModel.showCreate">
                <div class="new-style-DTM-new-task-background">
                    <div>
                        <h3 class="dark-grey-blue font-size-24">Let's start with creating a task!</h3>
                    </div>
                    <div>
                        <p style="color:darkgrey;">You can create a task as per your project requirement. You can post your task requirement with specific skill set required to complete the task. You can short list the candidates based on the applicant skill set and choose the right resource to accomplish the task.</p>
                    </div>
                    <div>
                        <div class="new-style-DTM-create-btn-side">&nbsp;</div>
                        <div class="new-style-DTM-create-new-task-btn new-style-DTM-create-btn-center" ng-click="showDetailsDiv()">CREATE NEW TASK</div>
                        <div class="new-style-DTM-create-btn-side-bottom">&nbsp;</div>

                    </div>
                </div>
            </div>
            <div style="padding:20px;" ng-show="divVisibiltyModel.showSuccess">
                <div class="new-style-DTM-new-task-background" ng-show="divVisibiltyModel.showSuccess">
                    <div>
                        <h3 class="dark-grey-blue font-size-24">Congratulations!</h3>
                    </div>
                    <div style="color:darkgrey;">
                        <p>Your task - <span class="color-8e44ad">{{taskRequest.TaskName}}</span> for project - <span class="color-8e44ad">{{taskRequest.ProjectName}}</span> has been posted successfully.</p>
                        <p>Review applications in <span ng-click="navigateMyTasks()" class="color-8e44ad link-text">My Tasks.</span></p>
                    </div>
                    <div>
                        Want to create a new task? <span ng-click="showDetailsDiv()" class="color-8e44ad link-text">Create New Task</span>
                    </div>
                </div>
            </div>
            <div ng-show="divVisibiltyModel.showDetails" class="new-style-DTM-new-task">
                <form name="newTaskForm">
                    <div class="new-style-DTM-overall">

                        <div style="width:100%;">
                            <div class="new-style-DTM-main-column">
                                <h3>
                                    <span class="task-fld-title font-helveticaNeue-medium heading Recommended-number">Project/Initiative Name</span>
                                    <span class="requiredField">*</span>
                                </h3>
                                <div class="form-group datepicker">
                                    <div class="input-group search-wbs-code" style="width:100%;" id="divProjectName">
                                        <input type="text" id="txtProjectName" class="form-control" name="projectName" maxlength="50" ng-model="taskRequest.ProjectName" placeholder="Add the name of the {{(taskRequest.SelectedTaskType|num) >1 ? Initiative: Project}}">
                                    </div>
                                    <span class="error">Invalid {{(taskRequest.SelectedTaskType|num) >1 ? Initiative: Project}} Name</span>

                                </div>
                            </div>
                            <div class="new-style-DTM-space-column">&nbsp;</div>
                            <div class="new-style-DTM-main-column">
                                <h3>
                                    <span class="task-fld-title font-helveticaNeue-medium heading Recommended-number">Task Type</span>
                                    <span class="requiredField">*</span>
                                </h3>
                                <div class="form-group datepicker">
                                    <div class="input-group search-wbs-code" style="width:100%;" id="divTaskType">
                                        <select class="form-control" id="ddlTaskType" ng-change='getAllOfferings(taskRequest.SelectedTaskType)' ng-model="taskRequest.SelectedTaskType" ng-options="taskType.Id as taskType.Description for taskType in taskTypes" @*required*@></select>
                                    </div>
                                    <span class="error">Select Task Type</span>

                                </div>
                            </div>
                            <div class="new-style-DTM-space-column">&nbsp;</div>
                            <div class="new-style-DTM-main-column">
                                <h3>
                                    <span class="task-fld-title font-helveticaNeue-medium heading Recommended-number">Skill Set</span>
                                    <span class="requiredField" ng-hide="taskRequest.SelectedTaskType>1">*</span>
                                </h3>
                                <div class="form-group datepicker">
                                    <div id="taskSkill" style="width:95%;" class="input-group search-wbs-code" >
                                        <div class="skill-set" >
                                            <div class="new-style-DTM-search"
                                                 style="padding-top:0px;position: absolute;width: 90%;max-height: 200px;background: white;overflow-y: auto;z-index: 999 !important;">

                                                <angucomplete-alt id="skillsetNewTask"
                                                                  placeholder="Search skill"
                                                                  pause="100"
                                                                  selected-object="selectedSkill"
                                                                  remote-url="/Common/SearchSkill?searchParam="
                                                                  title-field="Value"
                                                                  description-field="email"
                                                                  minlength="3"
                                                                  ng-keydown="RemoveSkillsOnBackSpace();"
                                                                  input-class="form-control form-control-small" />
                                            </div>



                                        </div>
                                        <div class="new-style-DTM-search-button" style="float:right;padding-top:0px;">
                                            <button class="btn btn-default no-border-left" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                                        </div>
                                    </div>
                                    <span class="error">Enter valid skill</span>
                                </div>
                            </div>
                        </div>
                        <div style="clear:both;"></div>
                        <div style="width:100%;">
                            <div class="new-style-DTM-main-column">
                                <h3>
                                    <span class="task-fld-title font-helveticaNeue-medium heading Recommended-number" ng-if="taskRequest.SelectedTaskType <= 0">Industry/Offering</span>
                                    <span class="task-fld-title font-helveticaNeue-medium heading Recommended-number" ng-if="taskRequest.SelectedTaskType == 1 || taskRequest.SelectedTaskType == 2">Offering</span>
                                    <span class="task-fld-title font-helveticaNeue-medium heading Recommended-number" ng-if="taskRequest.SelectedTaskType ==3">Industry</span>
                                    <span class="requiredField">*</span>
                                </h3>
                                <div class="form-group datepicker">
                                    <div class="input-group search-wbs-code" style="width:100%;" id="divServiceLine">
                                        <select class="form-control" id="ddlServiceLine" ng-model="taskRequest.SelectedOffering" ng-options="offering.OfferingId as offering.DisplayName for offering in offerings" @*required*@></select>
                                    </div>
                                    <span class="error" ng-if="taskRequest.SelectedTaskType <= 0">Select Task Type</span>
                                    <span class="error" ng-if="taskRequest.SelectedTaskType > 2">Select Industry</span>
                                    <span class="error" ng-if="taskRequest.SelectedTaskType <= 2">Select Offering</span>
                                </div>
                            </div>
                            <div class="new-style-DTM-space-column">&nbsp;</div>                            
                            <div class="new-style-DTM-main-column">
                                <h3>
                                    <span class="task-fld-title font-helveticaNeue-medium heading Recommended-number">WBS Code</span>
                                    <span class="requiredField" ng-hide="taskRequest.SelectedTaskType>1">*</span>
                                </h3>
                                <div class="form-group datepicker">
                                    <div class="input-group search-wbs-code" id="divWBSCode" style="width:100%;">
                                        <input type="text" id="txtWBSCode" class="form-control" ng-model="taskRequest.WBSCode" placeholder="WBS Code (XXX00000-00-00-00-0000)" @*required*@>
                                        <span style="font-style:italic;font-size:10px;">XYI, LPX and DCI codes not allowed.</span>
                                    </div>
                                    <span class="error">Invalid WBS Code</span>
                                </div>
                            </div>
                            <div class="new-style-DTM-space-column">&nbsp;</div>
                            <div class="new-style-DTM-main-column">
                                <h3>
                                    <span class="task-fld-title font-helveticaNeue-medium heading Recommended-number">Task Name</span>
                                    <span class="requiredField">*</span>
                                </h3>
                                <div class="form-group datepicker">
                                    <div class="input-group search-wbs-code" style="width:100%;" id="divTaskName">
                                        <input type="text" id="txtTaskName" class="form-control" ng-model="taskRequest.TaskName" maxlength="50" placeholder="Add the name of the task" @*required*@>
                                    </div>
                                    <span class="error">Invalid Task Name</span>

                                </div>
                            </div>
                            <div class="new-style-DTM-space-column">&nbsp;</div>
                            <div class="new-style-DTM-main-column">
                                &nbsp;
                            </div>
                        </div>
                        <div style="clear:both;"></div>
                        <div style="width:100%;">
                            <div class="new-style-DTM-description">
                                <h3 class="task-fld-title font-helveticaNeue-medium heading Recommended-number">Description</h3>
                                <div style="width:100%;">
                                    <textarea class="form-control" rows="3" maxlength="250" ng-model="taskRequest.Description" placeholder="Add Description" style="resize:none;"></textarea>
                                </div>
                                <div>
                                    <label class="gray-text" style="font-style:italic;">char limit:250</label>
                                </div>
                            </div>

                        </div>

                        <div style="clear:both;"></div>
                        <div style="width:100%;padding-bottom:30px;">
                            <div class="new-style-DTM-main-column">
                                <h3>
                                    <span class="task-fld-title font-helveticaNeue-medium heading Recommended-number">Start Date</span>
                                    <span class="requiredField">*</span>

                                </h3>
                                <div class="form-group datepicker">
                                    <div class="input-group date" id="datetimepicker1">
                                        <input type="text" id="txtStartDate" class="form-control" ng-model="taskRequest.OnBoardingDate" @*onkeydown="return false"*@ @*required*@>
                                        <span class="input-group-addon" ng-click="RemoveStartDateValidation();">
                                            <span  class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                    <span class="error">Invalid Start Date</span>

                                </div>
                            </div>
                            <div class="new-style-DTM-space-column">&nbsp;</div>
                            <div class="new-style-DTM-main-column">
                                <h3>
                                    <span class="task-fld-title font-helveticaNeue-medium heading Recommended-number">Due Date</span>
                                    <span class="requiredField">*</span>

                                </h3>
                                <div class="form-group datepicker">
                                    <div class="input-group date" id="datetimepicker2">
                                        <input type="text" id="txtDueDate" class="form-control" ng-model="taskRequest.DueDate" @*onkeydown="return false"*@ @*required*@>
                                        <span class="input-group-addon" ng-click="RemoveDueDateValidation();" >
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                    <span class="error" id="spanInvalidDate">Due Date cannot be on or before On Boarding Date</span>
                                </div>
                            </div>
                            <div class="new-style-DTM-space-column">&nbsp;</div>
                            <div class="new-style-DTM-main-column">
                                <h3>
                                    <span class="task-fld-title font-helveticaNeue-medium heading Recommended-number">Total Hours</span>
                                    <span class="requiredField">*</span>

                                </h3>
                                <div class="form-group datepicker">

                                    <div id="divHours">
                                        <input type="number" min="1" id="txtHr" ng-keypress="DontAllowPlus();" class="form-control" ng-model="taskRequest.Hours" placeholder="Add Hours" @*required*@>
                                    </div>
                                    <span class="error">Invalid Hours</span>
                                </div>
                            </div>
                        </div>
                        <div style="clear:both;"></div>
                        <div>&nbsp;</div>
                        <div style="clear:both;"></div>
                        <div style="width:100%;">
                            <div style="float:right;padding-right:50px;">
                                <div style="float:left;">
                                    <div class="review-btn font-size-16 cancel link" ng-show="divVisibiltyModel.showCreate" ng-click="cancelClick()">CANCEL</div>
                                </div>
                                <div class="new-style-DTM-space-column"></div>
                                <div>
                                    <button type="submit" class="review-btn link" ng-click="reviewClick()">REVIEW TASK</button>
                                </div>
                            </div>
                        </div>
                        <div style="clear:both;"></div>

                        <div>
                            <br />
                            &nbsp;
                        </div>
                    </div>
                </form>
            </div>
            <div style="padding:20px;" ng-show="divVisibiltyModel.showSummary">
                <div class="project-details" style="padding:20px;">
                    <div style="width:100%;">
                        <div style="float:left;">
                            <div class="heading" style="color: #8e44ad;">{{taskRequest.ProjectName}}</div>
                            <div class="gray-text">Today</div>
                        </div>
                        <div style="float:right">
                            <div class="circle-txt-60">{{taskRequest.ShortName}}</div>
                        </div>
                    </div>
                    <div style="clear:both;"></div>
                    <div class="heading">
                        <div class="new-style-DTM-tracking-main">
                            <span class="skill-icon"><img src="/Content/Images/skill@2x.png" /></span>
                            <span class="role-desc dark-grey-blue">{{(selectedSkillDesc==null || selectedSkillDesc.length==0?'Firm Initiative':selectedSkillDesc)}}</span>
                            <div class="gray-text">Required skills</div>
                        </div>
                        <div class="new-style-DTM-tracking-main">
                            <span class="hours-icon"><img src="/Content/Images/hours@2x.png" /></span>
                            <span class="role-desc dark-grey-blue">{{taskRequest.Hours}} hours</span>
                            <div class="gray-text">Billable hours</div>
                        </div>
                        <div class="new-style-DTM-tracking-main">
                            <span class="cal-icon"><img src="/Content/Images/calendar@2x.png" /></span>
                            <span class="role-desc dark-grey-blue">{{onBoardingDateReviewUI}}</span>
                            <div class="gray-text">Start Date</div>
                        </div>
                        <div class="new-style-DTM-tracking-main">
                            <span class="cal-icon"><img src="/Content/Images/serviceLine.png" /></span>
                            <span class="role-desc dark-grey-blue">{{taskRequest.OfferingDisplay}}</span>
                            <div class="gray-text">Offering/Industry</div>
                        </div>
                        <div style="clear:both;"></div>
                        <div>&nbsp;</div>
                        <div style="width:100%;height:50px;">
                            <div class="new-style-DTM-review-post-bigger">
                                &nbsp;
                            </div>
                            <div class="new-style-DTM-review-post-smaller">
                                <div class="review-btn link font-size-16" style="float:left;" ng-click="editClick()">Edit</div>
                                <div style="float:left;">&nbsp;</div>
                                <div class="review-btn link font-size-16" style="float:left;" ng-click="upsertTask()">Post Task</div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div id="myModal" class="modal fade profileController" role="dialog">

                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content addSkillDialog">

                        <div class="modal-body col-md-12">
                            <form name="form" class="col-md-12 margin-top-20">
                                <lable style="color:green" class="col-md-12">{{successMessage}}</lable>
                                <lable style="color:red" class="col-md-12">{{errorMessage}}</lable>
                                <div class="col-md-8">

                                    <input type="text" class="form-control col-md-4" placeholder="Enter Skill Name" ng-model="newSkillValue" required>
                                </div>
                                <input type="submit" class="edit-task-btn pull-left submit-but col-md-1" value="Submit" ng-click="insertSkill();">
                            </form>
                        </div>
                        <div class="modal-footer">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>