<div ng-show="dashboard.showApproval">
    <div id="contTaskAppDiv" class="new-style-DTM-main-inner-body" style="padding:20px;">


        <div>
            <div class="form-group skill-search new-style-DTM-new-task-background">
                <div>
                    <div class="new-style-DTM-div-33">
                        <div class="input-group">

                            <input id="skillInput" placeholder="Search by skill or project/initiative name" class="form-control" ng-model="taskSearch.text" ng-change="refreshTasksBasedonInput()" ng-model-options='{ debounce: 300 }' />
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button" ng-click="getTasksOnSearchClick()"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                            </span>
                        </div>
                    </div>
                    <div class="new-style-DTM-div-33">
                        <div class="new-span-width-span" style="padding-top: 8px;"><span>Task type:&nbsp; </span></div>
                        <div class="input-group new-span-width-select">
                            <select class="form-control" style="border-radius: 4px;" id="ddlTaskType" ng-model="taskSearch.selectedTaskType" ng-options="filter.Id as filter.Description for filter in selectTaskTypes" ng-change="refreshTasksBasedonInput()"></select>
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                    <div class="new-style-DTM-div-33">
                        <div class="input-group new-push-to-right">
                            <select style="border-radius: 4px;" class="form-control" id="ddlOfferings" ng-if="taskSearch.selectedTaskType!=3" ng-model="taskSearch.searchFilter" ng-options="filter.Id as filter.Description for filter in searchFilters" ng-change="refreshTasksBasedonInput()"></select>
                        </div>
                    </div>
                    <!--ADDED CHECKBOX FOR SHOW ONLY ODC TASKS-->
                    <div class="new-style-DTM-div-33" ng-show="hasODCAccess">
                        <div class="input-group new-push-to-left" style="padding-top:8px;">
                            <input type="checkbox" id="checkboxODCTask" ng-model="showOnlyODCTask" class="form-control ODCCheckBox" ng-change="refreshTasksBasedonInput()"><label class="ODCCheckBoxLabel">Show Only ODC Tasks</label>
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                </div>
                <div style="clear:both"></div>

            </div>


        </div>

        <div style="clear:both"></div>
        <div>
            <div class="background-color-ecf0f1" infinite-scroll='getTasks()' infinite-scroll-distance='0'
                 infinite-scroll-container="'#contTaskAppDiv'">
                <div class="project-details" ng-repeat="task in tasks track by $index">
                    <div ng-class="task.isODCTask ? 'new-style-ODC-DTM-padding-no-bottom-20':'new-style-DTM-padding-no-bottom-20'" id="div{{$index}}">
                        <div>
                            <div class="project-title new-style-DTM-div-75">
                                <span class="heading">{{task.ProjectName}}</span><span class="postedBy"> posted by </span> <span class="heading">{{task.FullName}}</span>
                            </div>
                            <div>
                                <div style="float:right;">
                                    <div class="left-nav-circle-txt">
                                        <div class="new-DTM-style-left-nav-circle-txt-ProjectName">{{task.ShortName}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="clear:both;"></div>
                        <div>
                            <div class="new-style-DTM-tracking-main heading">
                                <span class="skill-icon"><img src="/Content/Images/skill@2x.png" /></span>
                                <span class="role-desc dark-grey-blue">{{task.Skills}}</span>
                                <div class="gray-text">Required skills</div>
                            </div>
                            <div class="new-style-DTM-tracking-main heading">
                                <span class="hours-icon"><img src="/Content/Images/hours@2x.png" /></span>
                                <span class="role-desc dark-grey-blue">{{task.Hours}} hours</span>
                                <div class="gray-text">Billable hours</div>
                            </div>
                            <div class="new-style-DTM-tracking-main heading">
                                <span class="cal-icon"><img src="/Content/Images/calendar@2x.png" /></span>
                                <span class="role-desc dark-grey-blue">{{task.OnBoardingDate}}</span>
                                <div class="gray-text">Start Date</div>
                            </div>
                            <div class="new-style-DTM-tracking-main heading">
                                <span class="cal-icon"><img src="/Content/Images/calendar@2x.png" /></span>
                                <span class="role-desc dark-grey-blue">{{task.DueDate}}</span>
                                <div class="gray-text">Due Date</div>
                            </div>
                            <div style="clear:both;"></div>
                            <div>&nbsp;</div>
                            <div style="clear:both;"></div>
                            <div>
                                <div class="new-style-DTM-div-25">
                                    <p class="project-desc"><b>Task Description : </b>{{task.Details}}</p>
                                </div>
                            </div>
                            <div>
                                <div class="new-style-DTM-div-25">
                                    <p class="project-desc"><b>Offering : </b>{{task.Offering}}</p>
                                </div>
                            </div>
                            <div class="form-group">

                                <div class="new-style-DTM-div-33" style="margin-left:45%;">
                                    <div class="new-span-width-span" style="padding-top: 8px;width:35%;"><span>Current Proficiency:&nbsp; </span></div>
                                    <div class="input-group new-span-width-select">
                                        <select class="form-control" style="border-radius: 4px;" id="ddlProfType" ng-model="task.SelectedProficiencyType" ng-options="filter.Id as filter.Description for filter in SelectedProficiencyType" ng-disabled="task.IsApplied"></select>
                                        <div class="gray-text">Select your proficiency</div>
                                    </div>
                                    <div style="clear: both;"></div>
                                </div>
                                <div style="float:right;">
                                    <div style="float:left;padding-top:20px;">
                                        <div class="add-task-button apply-btn" ng-show="!task.IsApplied" ng-click="showReviewOptions($index, task);">Apply</div>
                                    </div>
                                    <div style="float:left;" ng-show="task.IsRecommended && !task.IsApplied">
                                        <div class="gift-pending back-ground-color-ffa942">RECOMMENDED</div>
                                    </div>
                                    <div style="float:left;" ng-show="task.IsApplied">
                                        <div class="gift-pending back-ground-color-6dd5ab">APPLIED</div>
                                    </div>
                                </div>

                            </div>
                            <div style="clear:both;"></div>
                            <div>
                                <hr style="background:darkgrey;" />
                            </div>
                        </div>
                    </div>
                    <div style="clear:both;"></div>
                    <div id="managerEmailDiv{{$index}}" ng-show="isShowingReview($index) && divVisibiltyModel.showSummary && !task.IsApplied && task.TypeId == 1">
                        <div class="text-center"><h2>Permission required!</h2></div>
                        <div class="opacity-normal text-center" style="padding-bottom:30px;">
                            <div>You have requested to be assigned for <span class="color-8e44ad">{{task.TaskName}}</span> under project <span class="color-8e44ad">{{task.ProjectName}}</span> for {{task.Hours}} hrs starting {{task.OnBoardingDate}}.</div>
                            <div>You would require your manager’s approval to proceed.<br />Initiate a permission request for the same.</div>

                        </div>
                        <div>
                            <form name="applicationForm{{$index}}" target="apply{{task.TaskName}}{{$index}}">
                                <div class="new-style-DTM-padding-no-left-right-top-20">

                                    <div style="width:100%;text-align:left;">
                                        <div class="new-style-DTM-div-middle-33">&nbsp;</div>
                                        <div class="new-style-DTM-div-33">
                                            Manager's Email Id:
                                            <span class="requiredField">*</span>
                                        </div>
                                        <div class="new-style-DTM-div-middle-33">&nbsp;</div>

                                    </div>
                                    <div style="clear:both;"></div>
                                    <div>
                                        <div class="new-style-DTM-div-middle-33">&nbsp;</div>
                                        <div class="new-style-DTM-div-33">
                                            <div class="form-group datepicker">
                                                <div class="input-group search-wbs-code" style="width:100%;" id="divManagerEmailId{{$index}}">
                                                    <input type="text" id="txtManagerEmailId{{$index}}" name="managerEmail" class="form-control" @*ng-pattern="/^[A-Za-z0-9!#$%&'*+/=?^_`{|}~.-]+@("@")deloitte\.com$/i"*@ placeholder="xxxxx@deloitte.com" ng-model="managersEmailId" @*required*@>
                                                </div>
                                                <span class="error fontSize10">Invalid Email Id</span>
                                            </div>
                                            @*<span class="help-inline fontSize10 requiredField" ng-show="applicationForm{{$index}}.managerEmail.$invalid && !applicationForm{{$index}}.managerEmail.$error.required">Required</span>
                                                <span class="help-inline fontSize10 requiredField" ng-show="applicationForm{{$index}}.managerEmail.$error.pattern">Invalid email</span>*@
                                        </div>
                                        <div class="new-style-DTM-div-middle-33">&nbsp;</div>

                                    </div>
                                </div>
                                <div style="clear:both;"></div>
                                <div class="new-style-DTM-padding-no-left-right-top-20">

                                    <div style="width:100%;text-align:left;">
                                        <div class="new-style-DTM-div-middle-33">&nbsp;</div>
                                        <div class="new-style-DTM-div-33">
                                            Statement Of Purpose:
                                            <span class="requiredField">*</span>
                                        </div>
                                        <div class="new-style-DTM-div-middle-33">&nbsp;</div>
                                    </div>
                                    <div style="clear:both;"></div>
                                    <div>
                                        <div class="new-style-DTM-div-middle-33">&nbsp;</div>
                                        <div class="new-style-DTM-div-33">
                                            <div class="form-group datepicker">
                                                <div class="input-group search-wbs-code" id="divSOP{{$index}}">
                                                    <textarea id="txtSOP{{$index}}" rows="5" cols="50" maxlength="500" class="form-control" style="resize:none" ng-model="statementOfPurpose"></textarea>
                                                </div>
                                                <span class="error fontSize10">Invalid SOP</span>
                                            </div>
                                        </div>
                                        <div class="new-style-DTM-div-middle-33">&nbsp;</div>

                                    </div>
                                </div>
                                <div style="clear:both;"></div>
                                <div class="text-center new-style-DTM-padding-no-left-right-20">
                                    <button class="review-app-btn" type="button" ng-click="cancelPermission()">Cancel</button>
                                    <button class="review-app-btn" type="submit" @*ng-disabled="applicationForm{{$index}}.$invalid"*@ name="apply{{task.TaskName}}{{$index}}" ng-click="applyTask(task, managersEmailId,statementOfPurpose,$index);">Request Permission</button>
                                </div>
                            </form>
                        </div>
                        @*<div style="height:0px;">
                                <input type="text" id="divManagerEmailId{{$index}}" style="height:0px;width:0px;" />
                            </div>*@
                        <div style="clear:both;"></div>
                        <div>
                            <hr style="background:darkgrey;" />
                        </div>
                    </div>
                    <div style="clear:both;"></div>
                </div>
            </div>
        </div>
        <div style="clear:both"></div>
        <div>
            <div class="new-style-DTM-new-task-background" ng-show="(tasksCount < 3) && divVisibiltyModel.showApply">
                <div>
                    <h3 class="dark-grey-blue font-size-24">Want to apply for more tasks?</h3>
                </div>
                <div class="new-style-DTM-create-btn-side">&nbsp;</div>
                <div class="new-style-DTM-create-new-task-btn new-style-DTM-create-btn-center" ng-click="NavigateToProfile()">EXPAND YOUR SKILLSET</div>
                <div class="new-style-DTM-create-btn-side-bottom">&nbsp;</div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="divCongrats" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div style="padding:10px;">
                <button type="button" ng-click="CloseModal();" class="close" data-dismiss="modal" aria-hidden="true">x</button>
            </div>
            <div class="modal-body text-center" style="padding-bottom:120px;">
                <h3 class="dark-grey-blue font-size-24">Congratulations!</h3>
                <div class="gray-text font-size-16 opacity-normal" ng-show="taskRequest.TaskType == '1'">
                    <div>You have requested permission for <span class="color-8e44ad">{{taskRequest.TaskName}}</span> under project <span class="color-8e44ad">{{taskRequest.ProjectName}}</span> for {{taskRequest.Hours}} hrs starting {{taskRequest.StartingDate}}.</div>
                    <div>While you wait for your manager to get back, review your <span class="color-8e44ad link-text" ng-click="NavigateToProfile()">Skills</span> for better task recommendations.</div>
                </div>
                <div class="gray-text font-size-16 opacity-normal" ng-show="taskRequest.TaskType >= 2">
                    <div>You have requested to be assigned for <span class="color-8e44ad">{{taskRequest.TaskName}}</span> under project <span class="color-8e44ad">{{taskRequest.ProjectName}}</span> for {{taskRequest.Hours}} hrs starting {{taskRequest.OnBoardingDate}}.</div>
                    <div>While you wait for your application to be approved, review your <span class="color-8e44ad link-text" ng-click="NavigateToProfile()">Skills</span> for better task recommendations.</div>
                </div>
            </div>
        </div>
    </div>
</div>