
@{
    ViewBag.Title = "Contact Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    th {
        background-color: #4CAF50;
        color: white;
    }
</style>
<div class="main">
    <div style="padding-left:20px;background:white;">
        <div class="top-menu">
            <div class="active dark-grey-blue-16" style="width:105px;">CONTACT US</div>
        </div>
    </div>
    <div style="clear:both;"></div>
    <div class="new-style-DTM-renderbody-inner">
        <div class="new-style-DTM-main-inner-body">
            <div style="padding:20px;">
                <div class="new-style-DTM-new-task-background" style="padding-bottom:20px;">
                    <div style="padding-bottom:20px;">
                        <div style="font-size:18px;text-align:left;"><h2>AMS</h2></div>
                        <table>
                            <tr>
                                <th>Location</th>
                                <th>Level 1 Escalation - Location SPOC</th>
                                <th>Level 2 - Business Spoc</th>
                                <th>Level 2 - RM</th>
                            </tr>
                            <tr>

                                <td>Hyderabad D Block</td>
                                <td>Tusharjyoti Gupta (tugupta@deloitte.com)</td>
                                <td>Rajaram, Gopalakrishnan(grajaram@DELOITTE.com)</td>
                                <td>Gunnala, Vidya Sagar (vgunnala@deloitte.com)</td>
                            </tr>
                            <tr>

                                <td>Hyderabad E Block</td>
                                <td>Devendra Kumar Chilaka(dchilaka@deloitte.com)</td>
                                <td>Rajaram, Gopalakrishnan (grajaram@DELOITTE.com)</td>
                                <td> Gunnala, Vidya Sagar (vgunnala@deloitte.com)</td>
                            </tr>
                            <tr>

                                <td>Delhi</td>
                                <td>Vijender Khatri (vikhatri@deloitte.com)</td>
                                <td>Rajaram, Gopalakrishnan  (grajaram@DELOITTE.com)</td>
                                <td> Gunnala, Vidya Sagar  (vgunnala@deloitte.com)</td>
                            </tr>
                            <tr>

                                <td>Bengaluru Campus</td>
                                <td> Rajaram, Gopalakrishnan (grajaram@DELOITTE.com)</td>
                                <td>Rajaram, Gopalakrishnan  (grajaram@DELOITTE.com)</td>
                                <td> Gunnala, Vidya Sagar  (vgunnala@deloitte.com)</td>
                            </tr>
                            <tr>

                                <td>Bengaluru Midway</td>
                                <td>Abhishek Kaushik (akaushik@deloitte.com)</td>
                                <td>Rajaram, Gopalakrishnan  (grajaram@DELOITTE.com)</td>
                                <td> Gunnala, Vidya Sagar  (vgunnala@deloitte.com)</td>
                            </tr>
                            <tr>

                                <td>Mumbai</td>
                                <td>Nikhil Kini (nikini@deloitte.com)</td>
                                <td>Rajaram, Gopalakrishnan (grajaram@DELOITTE.com)</td>
                                <td> Gunnala, Vidya Sagar (vgunnala@deloitte.com)</td>
                            </tr>


                        </table>
                        <br />
                        <div style="font-size:18px;text-align:left;"><h2>SI</h2></div>
                        <table>
                            <tr>
                                <th>Location</th>
                                <th>Level 1 Escalation - Location SPOC</th>
                                <th>Level 2 - Business Spoc</th>
                                <th>Level 2 - RM</th>
                            </tr>
                            <tr>

                                <td>Hyderabad</td>
                                <td>Tanmoy Roy (tanmroy@deloitte.com)</td>
                                <td>Guha, Projjwal(pguha@deloitte.com)</td>
                                <td>Kumar, Ashish(ashishkumar65@deloitte.com)</td>
                            </tr>

                            <tr>

                                <td>Delhi</td>
                                <td>Vikas Gill (vigill@deloitte.com)</td>
                                <td>Guha, Projjwal(pguha@deloitte.com)</td>
                                <td>Kumar, Ashish(ashishkumar65@deloitte.com)</td>
                            </tr>
                            <tr>

                                <td>Bengaluru</td>
                                <td> Projjwal Guha (pguha@deloitte.com)</td>
                                <td>Guha, Projjwal(pguha@deloitte.com)</td>
                                <td>Kumar, Ashish(ashishkumar65@deloitte.com)</td>
                            </tr>
                            <tr>

                                <td>Mumbai</td>
                                <td>Juzer Mukadam (jmukadam@deloitte.com)</td>
                                <td>Guha, Projjwal(pguha@deloitte.com)</td>
                                <td>Kumar, Ashish(ashishkumar65@deloitte.com)</td>
                            </tr>


                        </table>
                        <br />
                        <div style="font-size:18px;text-align:left;"><h2>Oracle</h2></div>
                        <table>
                            <tr>
                                <th>Location</th>
                                <th>Level 1 Escalation - Location SPOC</th>
                                <th>Level 2 - Business Spoc</th>
                                <th>Level 2 - RM</th>
                            </tr>
                            <tr>

                                <td>Hyderabad</td>
                                <td>Ashish Telang (atelang@deloitte.com)</td>
                                <td>Telang, Ashish(atelang@deloitte.com)</td>
                                <td>Mukundan, Rekha(rmukundan@deloitte.com>)</td>
                            </tr>

                            <tr>

                                <td>Delhi</td>
                                <td>Dibyanshu Shekhar (dshekhar@deloitte.com)</td>
                                <td>Telang, Ashish(atelang@deloitte.com)</td>
                                <td>Mukundan, Rekha(rmukundan@deloitte.com>)</td>
                            </tr>
                            <tr>

                                <td>Bengaluru</td>
                                <td> Neha Bakshi (nbakshi@deloitte.com)</td>
                                <td>Telang, Ashish(atelang@deloitte.com)</td>
                                <td>Mukundan, Rekha(rmukundan@deloitte.com>)</td>
                            </tr>
                            <tr>

                                <td>Mumbai</td>
                                <td>Juzer Mukadam (jmukadam@deloitte.com)</td>
                                <td>Telang, Ashish(atelang@deloitte.com)</td>
                                <td>Mukundan, Rekha(rmukundan@deloitte.com>)</td>
                            </tr>


                        </table>
                        <br />
                        <div style="font-size:18px;text-align:left;"><h2>DD</h2></div>
                        <table>
                            <tr>
                                <th>Location</th>
                                <th>Level 1 Escalation - Location SPOC</th>
                                <th>Level 2 - Business Spoc</th>
                                <th>Level 2 - RM</th>
                            </tr>
                            <tr>

                                <td>Hyderabad</td>
                                <td>Tushar Sharma (tusharma@deloitte.com)</td>
                                <td>Tushar Sharma (tusharma@deloitte.com)</td>
                                <td> Sandhu, Upneet (usandhu@deloitte.com)</td>
                            </tr>

                            <tr>

                                <td>Delhi</td>
                                <td>NA, no people in location</td>
                                <td>Tushar Sharma (tusharma@deloitte.com)</td>
                                <td> Sandhu, Upneet (usandhu@deloitte.com)</td>
                            </tr>
                            <tr>

                                <td>Bengaluru</td>
                                <td>Rohit Khetarpal (rkhetarpal@deloitte.com)</td>
                                <td>Tushar Sharma (tusharma@deloitte.com)</td>
                                <td> Sandhu, Upneet (usandhu@deloitte.com)</td>
                            </tr>
                            <tr>

                                <td>Mumbai</td>
                                <td>Karan Ingle (kaingle@deloitte.com)</td>
                                <td>Tushar Sharma (tusharma@deloitte.com)</td>
                                <td> Sandhu, Upneet (usandhu@deloitte.com)</td>
                            </tr>


                        </table>
                        <br />
                        <div style="font-size:18px;text-align:left;"><h2>SAP</h2></div>
                        <table>
                            <tr>
                                <th>Location</th>
                                <th>Level 1 Escalation - Location SPOC</th>
                                <th>Level 2 - Business Spoc</th>
                                <th>Level 2 - RM</th>
                            </tr>
                            <tr>

                                <td>Hyderabad</td>
                                <td>Vishnu Chandana Lakki Reddy (lakkireddy@deloitte.com)</td>
                                <td>Iyer, Santosh Chellappan(ciyer@deloitte.com)</td>
                                <td> Monga Richa (rmonga@deloitte.com)</td>
                            </tr>

                            <tr>

                                <td>Delhi</td>
                                <td>Nidhi Jain (nidhijain24@deloitte.com)</td>
                                <td>Iyer, Santosh Chellappan(ciyer@deloitte.com)</td>
                                <td> Monga Richa (rmonga@deloitte.com)</td>
                            </tr>
                            <tr>

                                <td>Bengaluru</td>
                                <td>Santosh Chellappan Iyer (ciyer@deloitte.com)</td>
                                <td>Iyer, Santosh Chellappan(ciyer@deloitte.com)</td>
                                <td> Monga Richa (rmonga@deloitte.com)</td>
                            </tr>
                            <tr>

                                <td>Mumbai</td>
                                <td>Dhaval Savla (dsavla@deloitte.com)</td>
                                <td>Iyer, Santosh Chellappan(ciyer@deloitte.com)</td>
                                <td> Monga Richa (rmonga@deloitte.com)</td>
                            </tr>


                        </table>
                        <br />
                        <div style="font-size:18px;text-align:left;"><h2>AIM</h2></div>
                        <table>
                            <tr>
                                <th>Location</th>
                                <th>Level 1 Escalation - Location SPOC</th>
                                <th>Level 2 - Business Spoc</th>
                                <th>Level 2 - RM</th>
                            </tr>
                            <tr>

                                <td>Hyderabad</td>
                                <td>Jimmy Kumar (jimkumar@deloitte.com)</td>
                                <td>Datta, Anujyoti (andatta@deloitte.com)</td>
                                <td>Verma, Geetanjali (geeverma@deloitte.com)</td>
                            </tr>

                            <tr>

                                <td>Delhi</td>
                                <td>Sanyogita Rathore (srathore@deloitte.com)</td>
                                <td>Datta, Anujyoti (andatta@deloitte.com)</td>
                                <td>Verma, Geetanjali (geeverma@deloitte.com)</td>
                            </tr>
                            <tr>

                                <td>Bengaluru</td>
                                <td>Harish Kumar (hariskumar@deloitte.com)</td>
                                <td>Datta, Anujyoti (andatta@deloitte.com)</td>
                                <td>Verma, Geetanjali (geeverma@deloitte.com)</td>
                            </tr>
                            <tr>

                                <td>Mumbai</td>
                                <td>Pallavi Pawar (papawar@deloitte.com)</td>
                                <td>Datta, Anujyoti (andatta@deloitte.com)</td>
                                <td>Verma, Geetanjali (geeverma@deloitte.com)</td>
                            </tr>


                        </table>
                        <br />
                        <div style="font-size:18px;text-align:left;"><h2>CLOUD</h2></div>
                        <table>
                            <tr>
                                <th>Location</th>
                                <th>Level 1 Escalation - Location SPOC</th>
                                <th>Level 2 - Business Spoc</th>
                                <th>Level 2 - RM</th>
                            </tr>
                            <tr>

                                <td>Hyderabad</td>
                                <td>Hariprasad Mathsa (hmathsa@deloitte.com)</td>
                                <td> Ellore, Chethan (cellore@deloitte.com)</td>
                                <td> Pradhan, Swapnil Madan (swapradhan@deloitte.com)</td>
                            </tr>

                            <tr>

                                <td>Delhi</td>
                                <td>NA, no people in location</td>
                                <td> Ellore, Chethan (cellore@deloitte.com)</td>
                                <td> Pradhan, Swapnil Madan (swapradhan@deloitte.com)</td>
                            </tr>
                            <tr>

                                <td>Bengaluru</td>
                                <td>Ramesh Mohan Reddy (rmohanreddy@deloitte.com)</td>
                                <td> Ellore, Chethan (cellore@deloitte.com)</td>
                                <td> Pradhan, Swapnil Madan (swapradhan@deloitte.com)</td>
                            </tr>
                            <tr>

                                <td>Mumbai</td>
                                <td>Swapnil Madan Pradhan (swapradhan@deloitte.com)</td>
                                <td> Ellore, Chethan (cellore@deloitte.com)</td>
                                <td> Pradhan, Swapnil Madan (swapradhan@deloitte.com)</td>
                            </tr>


                        </table>
                        <br />
                        <table>
                            <tr>
                                <th>Level 3 - Tech X (All Service Lines)</th>
                            </tr>
                            <tr>
                                <td>
                                    Telang, Ashish (atelang@deloitte.com)<br />
                                    Tushar Sharma (tusharma@deloitte.com)<br />
                                    Vijay Chennakesavapura(vchennakesavapura@deloitte.com)<br />
                                    Anubhav Asthana(aasthana@deloitte.com)<br />
                                    Shakeel Sawar(ssawar@deloitte.com)
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

