
@{
    ViewBag.Title = "Contact Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(odd) {
        background-color: #f2f2f2;
    }

    th {
        background-color: #4CAF50;
        color: white;
    }
</style>
<div class="main">
    <div style="padding-left:20px;background:white;">
        <div class="top-menu">
            <div class="active dark-grey-blue-16" style="width:105px;">CONTACT US</div>
        </div>
    </div>
    <div style="clear:both;"></div>
    <div class="new-style-DTM-renderbody-inner">
        <div class="new-style-DTM-main-inner-body">
            <div style="padding:20px;">
                <div class="new-style-DTM-new-task-background" style="padding-bottom:20px;">
                    <div style="padding-bottom:20px;">
                        <div style="font-size:18px;text-align:left;"><h2>AMS</h2></div>
                        <table>
                            <tr>
                                <th>Location</th>
                                <th>Level 1 Escalation - Location SPOC</th>
                                <th>Level 2 - Business Spoc</th>
                                <th>Level 2 - RM</th>
                            </tr>
                            <tr>
                                <td>Hyderabad D Block</td>
                                <td><a href="mailto:tugupta@deloitte.com?subject=TechX - Level 1 Escalation">Gupta, Tusharjyoti</a></td>
                                <td><a href="mailto:grajaram@deloitte.com?subject=TechX - Level 2 Escalation">Rajaram, Gopalakrishnan</a></td>
                                <td><a href="mailto:vgunnala@deloitte.com?subject=TechX - Level 2 RM Escalation">Gunnala, Vidya Sagar</a></td>
                            </tr>
                            <tr>
                                <td>Hyderabad E Block</td>
                                <td><a href="mailto:dchilaka@deloitte.com?subject=TechX - Level 1 Escalation">Chilaka, Devendra Kumar</a></td>
                                <td><a href="mailto:grajaram@deloitte.com?subject=TechX - Level 2 Escalation">Rajaram, Gopalakrishnan</a></td>
                                <td><a href="mailto:vgunnala@deloitte.com?subject=TechX - Level 2 RM Escalation">Gunnala, Vidya Sagar</a></td>
                            </tr>
                            <tr>
                                <td>Delhi</td>
                                <td><a href="mailto:vikhatri@deloitte.com?subject=TechX - Level 1 Escalation">Khatri, Vijender</a></td>
                                <td><a href="mailto:grajaram@DELOITTE.com?subject=TechX - Level 2 Escalation">Rajaram, Gopalakrishnan</a></td>
                                <td><a href="mailto:vgunnala@deloitte.com?subject=TechX - Level 2 RM Escalation">Gunnala, Vidya Sagar</a></td>
                            </tr>
                            <tr>
                                <td>Bengaluru Campus</td>
                                <td><a href="mailto:grajaram@deloitte.com?subject=TechX - Level 1 Escalation">Rajaram, Gopalakrishnan</a></td>
                                <td><a href="mailto:grajaram@deloitte.com?subject=TechX - Level 2 Escalation">Rajaram, Gopalakrishnan</a></td>
                                <td><a href="mailto:vgunnala@deloitte.com?subject=TechX - Level 2 RM Escalation">Gunnala, Vidya Sagar</a></td>
                            </tr>
                            <tr>
                                <td>Bengaluru Midway</td>
                                <td><a href="mailto:akaushik@deloitte.com?subject=TechX - Level 1 Escalation">Abhishek Kaushik </a></td>
                                <td><a href="mailto:grajaram@deloitte.com?subject=TechX - Level 2 Escalation">Rajaram, Gopalakrishnan  </a></td>
                                <td><a href="mailto:vgunnala@deloitte.com?subject=TechX - Level 2 RM Escalation">Gunnala, Vidya Sagar  </a></td>
                            </tr>
                            <tr>
                                <td>Mumbai</td>
                                <td><a href="mailto:nikini@deloitte.com?subject=TechX - Level 1 Escalation">Nikhil Kini </a></td>
                                <td><a href="mailto:grajaram@deloitte.com?subject=TechX - Level 2 Escalation">Rajaram, Gopalakrishnan </a></td>
                                <td><a href="mailto:vgunnala@deloitte.com?subject=TechX - Level 2 RM Escalation">Gunnala, Vidya Sagar </a></td>
                            </tr>

                        </table>
                        <br />
                        <div style="font-size:18px;text-align:left;"><h2>SI</h2></div>
                        <table>
                            <tr>
                                <th>Location</th>
                                <th>Level 1 Escalation - Location SPOC</th>
                                <th>Level 2 - Business Spoc</th>
                                <th>Level 2 - RM</th>
                            </tr>
                            <tr>
                                <td>Hyderabad</td>
                                <td><a href="mailto:tanmroy@deloitte.com?subject=TechX - Level 1 Escalation">Tanmoy Roy </a></td>
                                <td><a href="mailto:pguha@deloitte.com?subject=TechX - Level 2 Escalation">Guha, Projjwal</a></td>
                                <td><a href="mailto:ashishkumar65@deloitte.com?subject=TechX - Level 2 RM Escalation">Kumar, Ashish</a></td>
                            </tr>
                            <tr>
                                <td>Delhi</td>
                                <td><a href="mailto:vigill@deloitte.com?subject=TechX - Level 1 Escalation">Vikas Gill </a></td>
                                <td><a href="mailto:pguha@deloitte.com?subject=TechX - Level 2 Escalation">Guha, Projjwal</a></td>
                                <td><a href="mailto:ashishkumar65@deloitte.com?subject=TechX - Level 2 RM Escalation">Kumar, Ashish</a></td>
                            </tr>
                            <tr>
                                <td>Bengaluru</td>
                                <td><a href="mailto:pguha@deloitte.com?subject=TechX - Level 1 Escalation">Projjwal Guha </a></td>
                                <td><a href="mailto:pguha@deloitte.com?subject=TechX - Level 2 Escalation">Guha, Projjwal</a></td>
                                <td><a href="mailto:ashishkumar65@deloitte.com?subject=TechX - Level 2 RM Escalation">Kumar, Ashish</a></td>
                            </tr>
                            <tr>
                                <td>Mumbai</a></td>
                                <td><a href="mailto:jmukadam@deloitte.com?subject=TechX - Level 1 Escalation">Juzer Mukadam </a></td>
                                <td><a href="mailto:pguha@deloitte.com?subject=TechX - Level 2 Escalation">Guha, Projjwal</a></td>
                                <td><a href="mailto:ashishkumar65@deloitte.com?subject=TechX - Level 2 RM Escalation">Kumar, Ashish</a></td>
                            </tr>

                        </table>
                        <br />
                        <div style="font-size:18px;text-align:left;"><h2>Oracle</h2></div>
                        <table>
                            <tr>
                                <th>Location</th>
                                <th>Level 1 Escalation - Location SPOC</th>
                                <th>Level 2 - Business Spoc</th>
                                <th>Level 2 - RM</th>
                            </tr>
                            <tr>
                                <td>Hyderabad</td>
                                <td><a href="mailto:atelang@deloitte.com?subject=TechX - Level 1 Escalation">Ashish Telang </a></td>
                                <td><a href="mailto:atelang@deloitte.com?subject=TechX - Level 2 Escalation">Telang, Ashish</a></td>
                                <td><a href="mailto:rmukundan@deloitte.com?subject=TechX - Level 2 RM Escalation">Mukundan, Rekha</a></td>
                            </tr>
                            <tr>
                                <td>Delhi</td>
                                <td><a href="mailto:dshekhar@deloitte.com?subject=TechX - Level 1 Escalation">Dibyanshu Shekhar </a></td>
                                <td><a href="mailto:atelang@deloitte.com?subject=TechX - Level 2 Escalation">Telang, Ashish</a></td>
                                <td><a href="mailto:rmukundan@deloitte.com?subject=TechX - Level 2 RM Escalation">Mukundan, Rekha</a></td>
                            </tr>
                            <tr>
                                <td>Bengaluru</td>
                                <td><a href="mailto:nbakshi@deloitte.com?subject=TechX - Level 1 Escalation">Neha Bakshi </a></td>
                                <td><a href="mailto:atelang@deloitte.com?subject=TechX - Level 2 Escalation">Telang, Ashish</a></td>
                                <td><a href="mailto:rmukundan@deloitte.com?subject=TechX - Level 2 RM Escalation">Mukundan, Rekha</a></td>
                            </tr>
                            <tr>
                                <td>Mumbai</td>
                                <td><a href="mailto:jmukadam@deloitte.com?subject=TechX - Level 1 Escalation">Juzer Mukadam </a></td>
                                <td><a href="mailto:atelang@deloitte.com?subject=TechX - Level 2 Escalation">Telang, Ashish</a></td>
                                <td><a href="mailto:rmukundan@deloitte.com?subject=TechX - Level 2 RM Escalation">Mukundan, Rekha</a></td>
                            </tr>

                        </table>
                        <br />
                        <div style="font-size:18px;text-align:left;"><h2>DD</h2></div>
                        <table>
                            <tr>
                                <th>Location</th>
                                <th>Level 1 Escalation - Location SPOC</th>
                                <th>Level 2 - Business Spoc</th>
                                <th>Level 2 - RM</th>
                            </tr>
                            <tr>
                                <td>Hyderabad</td>
                                <td><a href="mailto:tusharma@deloitte.com?subject=TechX - Level 1 Escalation">Tushar Sharma</a></td>
                                <td><a href="mailto:tusharma@deloitte.com?subject=TechX - Level 2 Escalation">Tushar Sharma </a></td>
                                <td><a href="mailto:usandhu@deloitte.com?subject=TechX - Level 2 RM Escalation">Sandhu, Upneet </a></td>
                            </tr>
                            <tr>
                                <td>Delhi</td>
                                <td>NA, no people in location</td>
                                <td><a href="mailto:tusharma@deloitte.com?subject=TechX - Level 2 Escalation">Tushar Sharma </a></td>
                                <td><a href="mailto:usandhu@deloitte.com?subject=TechX - Level 2 RM Escalation">Sandhu, Upneet </a></td>
                            </tr>
                            <tr>
                                <td>Bengaluru</td>
                                <td><a href="mailto:rkhetarpal@deloitte.com?subject=TechX - Level 1 Escalation">Rohit Khetarpal </a></td>
                                <td><a href="mailto:tusharma@deloitte.com?subject=TechX - Level 2 Escalation">Tushar Sharma </a></td>
                                <td><a href="mailto:usandhu@deloitte.com?subject=TechX - Level 2 RM Escalation">Sandhu, Upneet </a></td>
                            </tr>
                            <tr>
                                <td>Mumbai</td>
                                <td><a href="mailto:kaingle@deloitte.com?subject=TechX - Level 1 Escalation">Karan Ingle </a></td>
                                <td><a href="mailto:tusharma@deloitte.com?subject=TechX - Level 2 Escalation">Tushar Sharma </a></td>
                                <td><a href="mailto:usandhu@deloitte.com?subject=TechX - Level 2 RM Escalation">Sandhu, Upneet </a></td>
                            </tr>

                        </table>
                        <br />
                        <div style="font-size:18px;text-align:left;"><h2>SAP</h2></div>
                        <table>
                            <tr>
                                <th>Location</th>
                                <th>Level 1 Escalation - Location SPOC</th>
                                <th>Level 2 - Business Spoc</th>
                                <th>Level 2 - RM</th>
                            </tr>
                            <tr>
                                <td>Hyderabad</td>
                                <td><a href="mailto:lakkireddy@deloitte.com?subject=TechX - Level 1 Escalation">Vishnu Chandana Lakki Reddy </a></td>
                                <td><a href="mailto:ciyer@deloitte.com?subject=TechX - Level 2 Escalation">Iyer, Santosh Chellappan</a></td>
                                <td><a href="mailto:rmonga@deloitte.com?subject=TechX - Level 2 RM Escalation">Monga, Richa </a></td>
                            </tr>
                            <tr>
                                <td>Delhi</td>
                                <td><a href="mailto:nidhijain24@deloitte.com?subject=TechX - Level 1 Escalation">Nidhi Jain </a></td>
                                <td><a href="mailto:ciyer@deloitte.com?subject=TechX - Level 2 Escalation">Iyer, Santosh Chellappan</a></td>
                                <td><a href="mailto:rmonga@deloitte.com?subject=TechX - Level 2 RM Escalation">Monga, Richa </a></td>
                            </tr>
                            <tr>
                                <td>Bengaluru</td>
                                <td><a href="mailto:ciyer@deloitte.com?subject=TechX - Level 1 Escalation">Iyer, Santosh Chellappan </a></td>
                                <td><a href="mailto:ciyer@deloitte.com?subject=TechX - Level 2 Escalation">Iyer, Santosh Chellappan</a></td>
                                <td><a href="mailto:rmonga@deloitte.com?subject=TechX - Level 2 RM Escalation">Monga, Richa </a></td>
                            </tr>
                            <tr>
                                <td>Mumbai</td>
                                <td><a href="mailto:dsavla@deloitte.com?subject=TechX - Level 1 Escalation">Dhaval Savla </a></td>
                                <td><a href="mailto:ciyer@deloitte.com?subject=TechX - Level 2 Escalation">Iyer, Santosh Chellappan</a></td>
                                <td><a href="mailto:rmonga@deloitte.com?subject=TechX - Level 2 RM Escalation">Monga Richa </a></td>
                            </tr>

                        </table>
                        <br />
                        <div style="font-size:18px;text-align:left;"><h2>AIM</h2></div>
                        <table>
                            <tr>
                                <th>Location</th>
                                <th>Level 1 Escalation - Location SPOC</th>
                                <th>Level 2 - Business Spoc</th>
                                <th>Level 2 - RM</th>
                            </tr>
                            <tr>
                                <td>Hyderabad</td>
                                <td><a href="mailto:jimkumar@deloitte.com?subject=TechX - Level 1 Escalation">Jimmy Kumar </a></td>
                                <td><a href="mailto:andatta@deloitte.com?subject=TechX - Level 2 Escalation">Datta, Anujyoti </a></td>
                                <td><a href="mailto:geeverma@deloitte.com?subject=TechX - Level 2 RM Escalation">Verma, Geetanjali </a></td>
                            </tr>
                            <tr>
                                <td>Delhi</td>
                                <td><a href="mailto:srathore@deloitte.com?subject=TechX - Level 1 Escalation">Sanyogita Rathore </a></td>
                                <td><a href="mailto:andatta@deloitte.com?subject=TechX - Level 2 Escalation">Datta, Anujyoti </a></td>
                                <td><a href="mailto:geeverma@deloitte.com?subject=TechX - Level 2 RM Escalation">Verma, Geetanjali </a></td>
                            </tr>
                            <tr>
                                <td>Bengaluru</td>
                                <td><a href="mailto:hariskumar@deloitte.com?subject=TechX - Level 1 Escalation">Harish Kumar </a></td>
                                <td><a href="mailto:andatta@deloitte.com?subject=TechX - Level 2 Escalation">Datta, Anujyoti </a></td>
                                <td><a href="mailto:geeverma@deloitte.com?subject=TechX - Level 2 RM Escalation">Verma, Geetanjali </a></td>
                            </tr>
                            <tr>
                                <td>Mumbai</td>
                                <td><a href="mailto:papawar@deloitte.com?subject=TechX - Level 1 Escalation">Pallavi, Pawar </a></td>
                                <td><a href="mailto:andatta@deloitte.com?subject=TechX - Level 2 Escalation">Datta, Anujyoti </a></td>
                                <td><a href="mailto:geeverma@deloitte.com?subject=TechX - Level 2 RM Escalation">Verma, Geetanjali </a></td>
                            </tr>

                        </table>
                        <br />
                        <div style="font-size:18px;text-align:left;"><h2>CLOUD</h2></div>
                        <table>
                            <tr>
                                <th>Location</th>
                                <th>Level 1 Escalation - Location SPOC</th>
                                <th>Level 2 - Business Spoc</th>
                                <th>Level 2 - RM</th>
                            </tr>
                            <tr>
                                <td>Hyderabad</td>
                                <td><a href="mailto:hmathsa@deloitte.com?subject=TechX - Level 1 Escalation">Hariprasad Mathsa </a></td>
                                <td><a href="mailto:cellore@deloitte.com?subject=TechX - Level 2 Escalation">Ellore, Chethan </a></td>
                                <td><a href="mailto:swapradhan@deloitte.com?subject=TechX - Level 2 RM Escalation">Pradhan, Swapnil Madan </a></td>
                            </tr>
                            <tr>
                                <td>Delhi</td>
                                <td>NA, no people in location</a></td>
                                <td><a href="mailto:cellore@deloitte.com?subject=TechX - Level 2 Escalation">Ellore, Chethan </a></td>
                                <td><a href="mailto:swapradhan@deloitte.com?subject=TechX - Level 2 RM Escalation">Pradhan, Swapnil Madan </a></td>
                            </tr>
                            <tr>
                                <td>Bengaluru</td>
                                <td><a href="mailto:rmohanreddy@deloitte.com?subject=TechX - Level 1 Escalation">Ramesh Mohan Reddy </a></td>
                                <td><a href="mailto:cellore@deloitte.com?subject=TechX - Level 2 Escalation">Ellore, Chethan </a></td>
                                <td><a href="mailto:swapradhan@deloitte.com?subject=TechX - Level 2 RM Escalation">Pradhan, Swapnil Madan </a></td>
                            </tr>
                            <tr>
                                <td>Mumbai</td>
                                <td><a href="mailto:swapradhan@deloitte.com?subject=TechX - Level 1 Escalation">Swapnil Madan Pradhan </a></td>
                                <td><a href="mailto:cellore@deloitte.com?subject=TechX - Level 2 Escalation">Ellore, Chethan </a></td>
                                <td><a href="mailto:swapradhan@deloitte.com?subject=TechX - Level 2 RM Escalation">Pradhan, Swapnil Madan </a></td>
                            </tr>

                        </table>
                        <br />
                        <table>
                            <tr>
                                <th>Level 3 - Tech X (All Service Lines)</th>
                            </tr>
                            <tr>
                                <td>
                                    <a href="mailto:atelang@deloitte.com?subject=TechX - Level 3 Escalation">
                                        Telang, Ashish
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="mailto:tusharma@deloitte.com?subject=TechX - Level 3 Escalation">
                                        Tushar Sharma
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="mailto:vchennakesavapura@deloitte.com?subject=TechX - Level 3 Escalation">
                                        Vijay Chennakesavapura
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="mailto:aasthana@deloitte.com?subject=TechX - Level 3 Escalation">
                                        Anubhav Asthana
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="mailto:ssawar@deloitte.com?subject=TechX - Level 3 Escalation">Shakeel Sawar</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
